<%- include('templates/header') %>
<link rel="stylesheet" href="/css/home.css">
<%- include('templates/navbar') %>
<main>
  <div class="my-4">
    <section class="bg-white">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-md-6">
          <div class="my-5">
            <div class="three-circle">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <h1 class="display-2 text-center fw-bold" style="font-family: 'Chakra Petch', sans-serif;">CADLABAH</h1>
            <p class="text-center" style="font-family: 'Chakra Petch', sans-serif;"><b>Ca</b>ri
              <b>D</b>an <b>La</b>por <b>Ba</b>rang <b>H</b>ilang</p>
            <a class="btn btn-primary col-6 offset-3 mt-5 rounded-pill fs-5" href="/posts"><i class="fas fa-search"></i>
              Jelajahi</a>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-md-6">
          <a href="https://www.vecteezy.com/free-vector/thinking" target="_blank" rel="norefferer">
            <img class="col-12 img-fluid" src="./images/illustration/Peopleaskquestions.jpg"
              alt="Thinking Vectors by Vecteezy" title="Thinking Vectors by Vecteezy">
          </a>
        </div>
      </div>
    </section>
    <header>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0d6efd" fill-opacity="1"
          d="M0,288L40,282.7C80,277,160,267,240,245.3C320,224,400,192,480,181.3C560,171,640,181,720,197.3C800,213,880,235,960,224C1040,213,1120,171,1200,149.3C1280,128,1360,128,1400,128L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
      </svg>
    </header>
    <section class="bg-primary text-light">
      <div class="row text-center">
        <div class="col-4 analytic">
          <i class="fas fa-user-circle d-block analytic-icon"></i>
          <span class="d-block mt-2 analytic-value">2.000</span>
          <span class="d-block mt-1 analytic-title">PENGGUNA</span>
        </div>
        <div class="col-4 analytic">
          <i class="fas fa-paper-plane d-block analytic-icon"></i>
          <span class="d-block mt-2 analytic-value">2.000</span>
          <span class="d-block mt-1 analytic-title">POSTINGAN</span>
        </div>
        <div class="col-4 analytic">
          <i class="fas fa-check-circle d-block analytic-icon"></i>
          <span class="d-block mt-2 analytic-value">2.000</span>
          <span class="d-block mt-1 analytic-title">ORANG TERBANTU</span>
        </div>
      </div>
    </section>
    <header>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0d6efd" fill-opacity="1"
          d="M0,288L40,282.7C80,277,160,267,240,245.3C320,224,400,192,480,181.3C560,171,640,181,720,197.3C800,213,880,235,960,224C1040,213,1120,171,1200,149.3C1280,128,1360,128,1400,128L1440,128L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
        </path>
      </svg>
    </header>
  </div>
</main>
<%- include('templates/footer') %>