<%- include('templates/header') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
  integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<%- include('templates/navbar') %>
<main>
  <div class="container my-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-9 mb-3">
        <!-- post item -->
        <div class="card mb-3 shadow" tabindex="0" id="1">
          <div class="card-header">
            <h2 class="card-title my-2" id="post1">[Hilang] Handphone Samsung Galaxy S9</h2>
            <p class="card-text">
              <div class="my-2">
                <a href="posts/category/electronics">
                  <div class="badge bg-primary" aria-label="kategori elektronik">
                    Elektronik
                  </div>
                </a>
              </div>
              <small class="text-muted">
                Diposting oleh <i class="fas fa-user"></i> Deri Kurniawan pada 26 November 2021 pukul 15:30
              </small>
            </p>
          </div>
          <div class="ratio ratio-16x9">
            <img class="img-fluid img-thumbnail lazyload"
              data-src="https://cdn.idntimes.com/content-images/community/2018/04/samsung-galaxy-s9-85-1-980x620-88e4c6e95cf484b9d5e58ba11419ad66.jpg"
              class="card-img-top" alt="gambar">
          </div>
          <div class="card-body">
            <p class="card-text">
              Hallo warga sukabumi. saya kehilangan handphone samsung S9 Berwarna Hitam di area sukabumi kota, lebih
              tepatnya dago sukabumi. jika ada yang menemukan saya kasih imbalan, terimakasih.
            </p>

            <p><b>Merasa Menemukan Barangnya?</b></p>
            <div class="row">
              <div class="col-6">
                <button class="col-12 btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fas fa-contact-book"></i> Lihat Kontak
                </button>
              </div>
              <div class="col-6">
                <button class="col-12 btn btn-outline-success"><i class="fas fa-share"></i> Bagikan</button>
              </div>
            </div>

            <div class="collapse" id="collapseExample">
              <div class="card card-body shadow">
                <h5>Kontak</h5>
                <div class="row">
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-success"
                    href="https://api.whatsapp.com/send?phone=+6280000000000" target="_blank">
                    <i class="fab fa-whatsapp"></i> Whatsapp
                  </a>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-danger" href="mailto:foo@example.com">
                    <i class="fas fa-mail-bulk"></i> Email
                  </a>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-primary" href="tel:+6280000000000">
                    <i class="fas fa-phone"></i> Telepon
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card mb-3 shadow" tabindex="0" id="2">
          <div class="card-header">
            <h3 class="card-title my-2">[Temuan] Handphone Samsung Galaxy S9</h3>
            <div class="my-2">
              <a href="posts/category/electronics">
                <div class="badge bg-primary" aria-label="kategori elektronik">
                  Elektronik
                </div>
              </a>
            </div>
            <p class="card-text"><small class="text-muted">Diposting oleh <i class="fas fa-user"></i> Deri Kurniawan
                pada 26 November 2021 pukul 21:00</small></p>
          </div>
          <div class="ratio ratio-16x9">
            <img class="img-fluid img-thumbnail lazyload"
              data-src="https://cdn.idntimes.com/content-images/community/2018/04/samsung-galaxy-s9-85-1-980x620-88e4c6e95cf484b9d5e58ba11419ad66.jpg"
              class="card-img-top" alt="gambar">
          </div>
          <div class="card-body">
            <p class="card-text">
              Hallo warga sukabumi. saya menemukan handphone samsung S9 Berwarna Hitam di area sukabumi kota, lebih
              tepatnya dago sukabumi. jika ada yang merasa kehilangan dan tahu kata sandi handphone ini maka anda
              pemiliknya, sekian terimakasih.
            </p>

            <p><b>Merasa itu barangmu?</b></p>
            <div class="row">
              <div class="col-6">
                <button class="col-12 btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fas fa-contact-book"></i> Lihat Kontak
                </button>
              </div>
              <div class="col-6">
                <button class="col-12 btn btn-outline-success"><i class="fas fa-share"></i> Bagikan</button>
              </div>
            </div>

            <div class="collapse" id="collapseExample">
              <div class="card card-body shadow">
                <h5>Kontak</h5>
                <div class="row">
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-success"
                    href="https://api.whatsapp.com/send?phone=+6280000000000" target="_blank">
                    <i class="fab fa-whatsapp"></i> Whatsapp
                  </a>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-danger" href="mailto:foo@example.com">
                    <i class="fas fa-mail-bulk"></i> Email
                  </a>
                  <a class="col-lg-3 mx-lg-1 my-1 btn btn-primary" href="tel:+6285720959031">
                    <i class="fas fa-phone"></i> Telepon
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- end of post item -->
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-3">
        <!-- accordeon -->
        <div class="accordion shadow bg-white sticky-top" style="top: 5em; z-index: 1;"
          id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-h1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-c1" aria-expanded="true" aria-controls="panelsStayOpen-c1">
                Kategori
              </button>
            </h2>
            <div id="panelsStayOpen-c1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-h1">
              <div class="accordion-body">
                <a class="btn btn-outline-primary text-decoration-none text-center d-block mb-3"
                  href="/posts/category/accessories">Aksesoris</a>
                <a class="btn btn-outline-primary text-decoration-none text-center d-block mb-3"
                  href="/posts/category/electronics">Elektronik</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-h2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-c2" aria-expanded="false" aria-controls="panelsStayOpen-c2">
                Edukasi
              </button>
            </h2>
            <div id="panelsStayOpen-c2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-h2">
              <div class="accordion-body">
                <a class="btn btn-outline-info text-decoration-none text-center d-block my-2"
                  href="/edu/tips-dan-trik">Tips
                  &
                  Trik</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="panelsStayOpen-h3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-c3" aria-expanded="false" aria-controls="panelsStayOpen-c3">
                Kebijakan
              </button>
            </h3>
            <div id="panelsStayOpen-c3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-h3">
              <div class="accordion-body">
                <a class="btn btn-outline-warning text-decoration-none text-center d-block my-2"
                  href="/cadlabah/privacy-and-policy">Kebijakan Pribadi</a>
              </div>
            </div>
          </div>

          <a class="btn btn-outline-success col-10 offset-1 my-3" href="/posts/create">
            <i class="fas fa-paper-plane"></i> Buat Postingan
          </a>
        </div>
        <!-- end of accordeon -->
      </div>
    </div>
  </div>
</main>
<%- include('templates/footer') %>