<%- include('templates/header') %>
<%- include('templates/navbar') %>
<main tabindex="0" id="mainContent" aria-label="konten utama">
  <div class="container my-4">
    <h2 tabindex="0">Tips & Trik</h2>

    <div class="my-4" data-aos="fade-in" data-aos-offset="-10">
      <h3 tabindex="0" data-aos="fade-in" data-aos-offset="-10">Hal yang perlu diperhatikan ketika barang masih ada atau
        belum hilang</h3>
      <p tabindex="0">Hal pertama yang anda perlu lakukan yaitu anda wajib mendokumentasikan barang berharga anda dalam
        bentuk foto.
        nantinya suatu saat ketika barang berharga anda hilang, anda bisa memposting foto barang berharga
        anda di website kami.</p>
      <p tabindex="0">Hal kedua yang anda perlu lakukan yaitu anda diusahakan sebisa mungkin membuat tanda pada barang
        berharga anda
        yang
        tidak memiliki nomor mesin atau kode unik seperti sendal, topi, tas , sepatu dan lain-lain. Diusahakan anda
        membuat sebuah
        tanda
        seperti tulisan nama anda pada bagian yang sulit diketahui orang lain.</p>
    </div>

    <div class="my-4" data-aos="fade-in" data-aos-offset="-10">
      <h3 tabindex="0">Hal yang perlu diperhatikan ketika anda memposting barang anda yang hilang</h3>
      <p tabindex="0"> Hal pertama yang perlu anda lakukan yaitu usahakan ketika anda memposting barang anda yang
        hilang. pastikan
        anda
        jangan terlalu memberikan deskripsi yang sangat detail tentang barang anda yang sedang hilang. mengapa demikian,
        karena hal tersebut dapat membantu mengatasi hal semacam penipuan ataupun orang lain yang ingin mengklaim barang
        anda,
        supaya orang yang ingin mengklaim barang anda tidak mempunyai bukti yang cukup.</p>
      <p tabindex="0">Hal kedua yang perlu anda lakukan yaitu usahakan anda jangan memposting foto yang menggabarkan
        ciri khas barang
        anda
        tersebut atau tanda unik yang anda buat. seperti anda memposting foto barang anda yang hilang dengan menampilkan
        kode
        unik barang tersebut.</p>
    </div>

    <div class="my-4" data-aos="fade-in" data-aos-offset="-10">
      <h3 tabindex="0">Hal yang perlu diperhatikan ketika anda memposting barang temuan</h3>
      <p tabindex="0">Hal pertama yang perlu anda lakukan yaitu usahakan anda jangan langsung memberikan barang temuan
        tersebut
        kepada
        orang yang mengakui barang tersebut. pastikan bahwa orang yang mengklaim barang tersebut memang barang miliknya.
        jika
        anda kurang yakin, anda bisa mengajukan pertanyaan mengenai ciri khusus barang tersebut.</p>
      <p tabindex="0">Dan hal kedua yang perlu anda lakukan yaitu usahakan anda jangan kontak langsung atau tatap muka
        dengan orang
        tersebut. Hal ini untuk mencegah terjadinya hal-hal yang tidak dinginkan.</p>

      <h3 tabindex="0">Hal yang perlu dilakukan ketika barang sudah ditemukan atau diklaim</h3>
      <p tabindex="0">Ketika anda memposting barang hilang maupun memposting barang temuan, anda diharapkan untuk
        menghapus postingan
        tersebut ketika barangnya telah diklaim atau ditemukan.</p>
    </div>
  </div>
</main>

<script>
  AOS.init({
    once: true,
  });
</script>

<%- include('templates/copyright') %>
<%- include('templates/footer') %>