@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

nav.navbar {
  transition: .2s all ease-in-out;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
}

.posts-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.posts-img-container:hover .posts-img {
  opacity: .9;
}